<nav class="navbar navbar-light bg-primary">
  <a class="navbar-brand" href="/">
    <img src="/img/eu.png" width="100">
    <span class="fw-lighter badge fs-3">
      João Maurício - Web Develloper FullStack
    </span> 
  </a>
</nav>